.clanes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .team { grid-area: 1 / 1 / 2 / 2; }
    .lux { grid-area: 1 / 2 / 2 / 3; }
    .team{
        border-right: black solid;
        background-color: rgb(82, 82, 172);
    }
.clanes{
    border-bottom: black solid;
}
.lux{
    background-color: rgb(255, 59, 59);
}
h3{
    text-align: center;
}
.clan{
    text-align: center;
}